.feed {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 15px;
  grid-row-gap: 30px;
  margin-top: 15px;
}
.feed .card {
  overflow: hidden;
}
.feed .card img {
  width: 100%;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.feed .card img:hover {
  scale: 1.1;
}
.card h2 {
  font-size: 16px;
  margin: 5px 0;
  font-weight: 600;
  color: #000;
}
.card h3 {
  font-size: 14px;
  margin: 6px 0;
  font-weight: 600;
  color: #555;
}
.card p {
  font-size: 14px;
  color: #555;
}
