nav {
  position: sticky;
  z-index: 10;
  top: 0;
  padding: 10px 2%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: #ffffffd3;
  justify-content: space-between;
}
.nav-left .menu-icon {
  width: 22px;
  margin-right: 25px;
}
.nav-left .logo {
  width: 130px;
}

.nav-middle .search-box {
  padding: 8px 12px;
  border: 1px solid #ccc;
  margin-right: 15px;
  border-radius: 25px;
}
.nav-middle .search-box input {
  width: 400px;
  background: transparent;
  border: 0;
  outline: none;
  font-size: 17px;
  padding: 1px;
}

.nav-middle .search-box img {
  width: 15px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

img.user-icon {
  width: 35px;
  border-radius: 50%;
}
