.sidebar {
  width: 15%;
  height: 100vh;
  background-color: #fff;
  position: fixed;
  top: 0;
  padding-top: 80px;
  padding-left: 2%;
  overflow-y: scroll;
  overflow-x: hidden;
  transition: all 0.3s ease-in-out;
}

.shortcut-links img {
  width: 20px;
  margin-right: 20px;
}
.side-link {
  width: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: nowrap;
  cursor: pointer;
}
.sidebar hr {
  width: 85%;
  height: 1px;
  background: #ccc;
  border: 0;
}
.subscribed-list h3 {
  font-size: 13px;
  margin: 20px 0;
  color: #5a5a5a;
}
.subscribed-list .side-link {
  display: flex;
  align-items: center;
  gap: 10px;
}
.subscribed-list img {
  width: 25px;
  border-radius: 50%;
}
.subscribed-list .side-link p {
  font-size: 15px;
}
.smallSidebar {
  width: 5%;
  transition: all 0.3 ease-in-out;
}

.smallSidebar p,
.smallSidebar h3 {
  display: none;
}
.smallSidebar .subscribed-list .jackImg {
  margin-top: 15px;
}
