.recommended {
  flex-basis: 30%;
}

.sideVideoList {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 8px;
}
.sideVideoList img {
  width: 45%;
  flex-basis: 49%;
  border-radius: 5px;
}

.videoInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.videoInfo h4 {
  font-size: 14px;
  font-weight: 600;
  color: black;
  line-height: 1.3;
}
.videoInfo h5,
.videoInfo p {
  color: #5a5a5a;
}
